@import "tailwindcss";

@theme {
	--animate-typing: typing 2s steps(40, end) forwards;
	--animate-typing-slow: typing 1.5s steps(40, end) forwards;
	--animate-url:  typing 2s steps(40, end), blink .75s step-end;

	@keyframes typing {
		from { width: 0}
		to { width: 100%}
	}
	@keyframes blink {
		from, to { border-color: transparent}
		50% { border-color: black }
	}
}

@utility animate-delay-0 { animation-delay: 0s }
@utility animate-delay-2 { animation-delay: 2s }
@utility animate-delay-3-5 { animation-delay: 3.5s }
@utility animate-delay-5 { animation-delay: 5s }
@utility animate-delay-6-5 { animation-delay: 6.5s }
